.alert-text {
    color: aqua;
}
.subsection.header{
    color:  purple;
}
.subsection.preview {
    color: blue;
    font-size: 200;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.button {
    color:  rebeccapurple;
    font-variant: small-caps;
    background-color: black;    
}
.StartingProperties {
    color: #1100ff;
    background-color: bisque;
}
#grandparent {
    color: blueviolet;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;

}