.alert-text {
    color: aqua;
}
.subsection{
    color:  purple;
    height: 50px;
}
.StartingProperties,
.button {
    color: #1100ff;
    background-color: bisque;
}
#grandparent {
    color: blueviolet;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;

}